<div class="property-card__body" data-v-3c313914="">
   <div class="d-flex justify-content-between" data-v-3c313914="">
      <h4 class="property-card__title" data-v-3c313914="">Appartement T3 Taverny</h4>
      <span data-v-3c313914="">
         <!----> <span class="property-card__infoSup font-weight-bold" data-v-3c313914="">Achat</span>
      </span>
   </div>
   <div class="property-card__infos" data-v-3c313914="">
      <div data-v-3c313914=""><span class="property-card__feature" data-v-3c313914="">
         75 m²
         </span><span class="property-card__feature" data-v-3c313914="">
         3 pièce(s)
         </span>
      </div>
      <span class="property-card__price" data-v-3c313914="">
      225 000&nbsp;€
      </span>
   </div>
</div>